@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81ecec;
}

.box {
    width:700px;
    min-height: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#item {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 2px gray;
}
#to-do-box {
  list-style: none;
  margin-top: 20px;
}

#to-do-box li {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #636e72;
    border-radius: 5px;
    padding-right: 30px;
    text-align: justify;
    user-select: none;
}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.done {
    text-decoration: line-through;
    color: black !important; 
    background-color: #b2bec3 !important ; 
}